@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<link href="~/css/signin.css" rel="stylesheet">

<div class="form-signin text-center">
    <form id="account" method="post">
        <img class="mb-4" src="~/assets/images/ComIT-logo-bg.png" alt="" width="100" height="100">
        <h1 class="h3 mb-3 fw-normal">Por favor, ingrese</h1>

        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label class="visually-hidden" asp-for="Input.Usuario">Correo electrónico</label>
            <input asp-for="Input.Usuario" class="form-control" placeholder="Correo electrónico" autofocus />
            <span asp-validation-for="Input.Usuario" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="visually-hidden" asp-for="Input.Password">Contraseña</label>
            <input asp-for="Input.Password" class="form-control" placeholder="Contraseña" />
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <div class="checkbox">
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="w-100 btn btn-lg btn-primary">Ingresar</button>
        </div>
        <div class="form-group">
            <p>
                <a id="forgot-password" asp-page="./ForgotPassword">Perdiste la contraseña?</a>
            </p>
            <p>
                <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse como nuevo usuario</a>
            </p>
            <p>
                <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Reenviar mail de confirmación</a>
            </p>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

